service-stubs/humantask/org.wso2.carbon.humantask.skeleton/src/main/resources/ws-humantask-rendering-api.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://wso2.org/ht/schema/renderings/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ws-humantask-rendering-api"
                  targetNamespace="http://wso2.org/ht/schema/renderings/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://wso2.org/ht/schema/renderings/">
            <xsd:element name="getRenderings">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="taskIdentifier" type="xsd:anyURI" maxOccurs="1"
                                     minOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getRenderingsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="input" type="tns:inputType" maxOccurs="1" minOccurs="0"/>
                        <xsd:element name="output" type="tns:outputType" maxOccurs="1"
                                     minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="inputType">
                <xsd:sequence>
                    <xsd:element name="element" type="tns:inputElementType" maxOccurs="unbounded"
                                 minOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="outputType">
                <xsd:sequence>
                    <xsd:element name="element" type="tns:outputElementType"
                                 maxOccurs="unbounded" minOccurs="1">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="inputElementType">
                <xsd:sequence>
                    <xsd:element name="label" type="xsd:string" maxOccurs="1"
                                 minOccurs="1"/>
                    <xsd:element name="value" type="xsd:string" maxOccurs="1"
                                 minOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="outputElementType">
                <xsd:sequence>
                    <xsd:element name="label" type="xsd:string" maxOccurs="1"
                                 minOccurs="1">
                    </xsd:element>
                    <xsd:element name="xpath" type="xsd:string" maxOccurs="1"
                                 minOccurs="0">
                    </xsd:element>
                    <xsd:element name="value" type="tns:valueType"
                                 maxOccurs="1" minOccurs="1">
                    </xsd:element>
                    <xsd:element name="default" type="xsd:string"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="id" type="xsd:string"/>
                <xsd:attribute name="readOnly" type="xsd:boolean"/>
            </xsd:complexType>

            <xsd:complexType name="valueType">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="type" type="tns:value_tType"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>

            <xsd:simpleType name="value_tType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="string"/>
                    <xsd:enumeration value="int"/>
                    <xsd:enumeration value="double"/>
                    <xsd:enumeration value="float"/>
                    <xsd:enumeration value="boolean"/>
                    <xsd:enumeration value="list"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="setTaskOutput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="taskIdentifier"
                                     type="xsd:anyURI" maxOccurs="1" minOccurs="1">
                        </xsd:element>
                        <xsd:element name="values"
                                     type="tns:setOutputValuesType" maxOccurs="1" minOccurs="1">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setTaskOutputResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="success" type="xsd:boolean"
                                     maxOccurs="1" minOccurs="1">
                        </xsd:element>
                        <xsd:element name="fault"
                                     type="xsd:string" maxOccurs="1" minOccurs="0">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="setOutputValuesType">
                <xsd:sequence>
                    <xsd:element name="value" type="tns:setOutputvalueType" maxOccurs="unbounded"
                                 minOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="setOutputvalueType">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="id" type="xsd:string"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:element name="getRenderingsFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getRenderingsFault"
                                     type="xsd:string">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setTaskOutputFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="setTaskOutputFault"
                                     type="xsd:string">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="completeTask">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="taskIdentifier" type="xsd:anyURI"></xsd:element>
                        <xsd:element name="values"
                                     type="tns:setOutputValuesType">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="completeTaskResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="success" type="xsd:boolean"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="completeTaskFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="completeTaskFault"
                                     type="xsd:string">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getRenderingsRequest">
        <wsdl:part element="tns:getRenderings" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getRenderingsResponse">
        <wsdl:part element="tns:getRenderingsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setTaskOutputRequest">
        <wsdl:part name="parameters" element="tns:setTaskOutput"/>
    </wsdl:message>
    <wsdl:message name="setTaskOutputResponse">
        <wsdl:part name="parameters" element="tns:setTaskOutputResponse"/>
    </wsdl:message>
    <wsdl:message name="getRenderingsFault">
        <wsdl:part name="parameters" element="tns:getRenderingsFault"/>
    </wsdl:message>
    <wsdl:message name="setTaskOutputFault">
        <wsdl:part name="parameters" element="tns:setTaskOutputFault"/>
    </wsdl:message>
    <wsdl:message name="completeTaskRequest">
        <wsdl:part name="parameters" element="tns:completeTask"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="completeTaskResponse">
        <wsdl:part name="parameters" element="tns:completeTaskResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="completeTaskFault">
        <wsdl:part name="parameters" element="tns:completeTaskFault"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="renderingOperations">
        <wsdl:operation name="getRenderings">
            <wsdl:input message="tns:getRenderingsRequest"/>
            <wsdl:output message="tns:getRenderingsResponse"/>
            <wsdl:fault name="getRenderingsFault" message="tns:getRenderingsFault"/>
        </wsdl:operation>
        <wsdl:operation name="setTaskOutput">
            <wsdl:input message="tns:setTaskOutputRequest"/>
            <wsdl:output message="tns:setTaskOutputResponse"/>
            <wsdl:fault name="setTaskOutputFault" message="tns:setTaskOutputFault"/>
        </wsdl:operation>
        <wsdl:operation name="completeTask">
            <wsdl:input message="tns:completeTaskRequest"></wsdl:input>
            <wsdl:output message="tns:completeTaskResponse"></wsdl:output>
            <wsdl:fault name="completeTaskFault" message="tns:completeTaskFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="renderingOperationsSOAP"
                  type="tns:renderingOperations">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getRenderings">
            <soap:operation
                    soapAction="http://wso2.org/ht/schema/renderings/getRenderings" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getRenderingsFault">
                <soap:fault use="literal" name="getRenderingsFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setTaskOutput">
            <soap:operation
                    soapAction="http://wso2.org/ht/schema/renderings/setTaskOutput" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="setTaskOutputFault">
                <soap:fault use="literal" name="setTaskOutputFault" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="completeTask">
            <soap:operation
                    soapAction="http://wso2.org/ht/schema/renderings/completeTask" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="completeTaskFault">
                <soap:fault use="literal" name="completeTaskFault" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HumanTaskRenderingAPI">
        <wsdl:port binding="tns:renderingOperationsSOAP" name="renderingOperationsSOAP">
            <soap:address location="https://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
