components/bpel/org.wso2.carbon.bpel/src/main/resources/schemas/bps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://wso2.org/bps/config"
            xmlns:tns="http://wso2.org/bps/config"
            elementFormDefault="qualified">
    <xsd:complexType name="tBPS">
        <xsd:sequence>
            <xsd:element name="DataBaseConfig" type="tns:tDataBaseConfig"/>
            <xsd:element name="ProcessDehydration" type="tns:tProcessDehydration" minOccurs="0"
                         maxOccurs="1"/>
            <xsd:element name="TransactionFactory" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:attribute name="class" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DebugTransactions" type="xsd:boolean"/>
            <xsd:element name="AquireTransactionLocks" type="xsd:boolean"/>
            <xsd:element name="EventListeners" type="tns:tEventListeners" maxOccurs="1"
                         minOccurs="0"/>
            <xsd:element name="MexInterceptors" type="tns:tMexInterceptors" maxOccurs="1"
                         minOccurs="0"/>
            <xsd:element name="ExtensionBundles" type="tns:tExtensionBundles" minOccurs="0"
                         maxOccurs="1"/>
            <xsd:element name="OpenJPAConfig" type="tns:tOpenJPAConfig" minOccurs="0"
                         maxOccurs="1"/>
            <xsd:element name="MexTimeOut" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:int"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ExternalServiceTimeOut" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:int"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MultithreadedHttpConnectionManagerConfig"
                         type="tns:tMultithreadedHttpConnectionManagerConfig" minOccurs="0"
                         maxOccurs="1"/>
            <xsd:element name="Schedules"
                         type="tns:tSchedules" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="SyncWithRegistry"
                         type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="InMemoryInstanceTimeToLive" type="xsd:int" maxOccurs="1"
                         minOccurs="0"/>
            <xsd:element name="ODESchedulerThreadPoolSize" type="xsd:int" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="UseDistributedLock" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="UseInstanceStateCache" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="PersistenceProvider" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="NodeId" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="ODESchedulerConfiguration" type="tns:simpleSchedulerConfig" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="BpelUI" type="tns:tBpelUI" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tMultithreadedHttpConnectionManagerConfig">
        <xsd:sequence>
            <xsd:element name="maxConnectionsPerHost">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:int"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="maxTotalConnections">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:int"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="connectionKeepAlive" minOccurs="0">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:boolean"/>
                </xsd:complexType>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tOpenJPAConfig">
        <xsd:sequence>
            <xsd:element name="property" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence/>
                    <xsd:attribute name="name" type="xsd:string"/>
                    <xsd:attribute name="value" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tExtensionBundles">
        <xsd:sequence>
            <xsd:element name="runtimes" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="runtime" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence/>
                                <xsd:attribute name="class" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="filters" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="filter" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence/>
                                <xsd:attribute name="class" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="validators" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="validator" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence/>
                                <xsd:attribute name="class" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tProcessDehydration">
        <xsd:sequence>
            <xsd:element name="MaxAge">
                <xsd:complexType>
                    <xsd:sequence/>
                    <xsd:attribute name="value" type="xsd:int"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="value" type="xsd:boolean"/>
        <xsd:attribute name="maxCount" type="xsd:int"/>
    </xsd:complexType>

    <xsd:complexType name="tDataBaseConfig">
        <xsd:sequence>
            <xsd:element name="DataSource">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="JNDI" maxOccurs="1" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence/>
                                <xsd:attribute name="contextFactory" type="xsd:string"/>
                                <xsd:attribute name="providerURL" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="name" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tEventListeners">
        <xsd:sequence>
            <xsd:element name="listener" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence/>
                    <xsd:attribute name="class" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tMexInterceptors">
        <xsd:sequence>
            <xsd:element name="interceptor" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence/>
                    <xsd:attribute name="class" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tProcessInstanceCleanupConfig">
        <xsd:sequence>
            <xsd:element name="completed">
                <xsd:complexType>
                    <xsd:attribute name="lifeTime" type="xsd:int"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="failed">
                <xsd:complexType>
                    <xsd:attribute name="lifeTime" type="xsd:int"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="scheduledTime">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:time"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="tSchedule">
        <xsd:sequence>
            <xsd:element name="cleanup" type="tns:tCleanup"
                minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="when" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="tSchedules">
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="Schedule" type="tns:tSchedule"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="tCleanup">
        <xsd:sequence>
            <xsd:element name="category" default="all" minOccurs="0" maxOccurs="unbounded">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="instance" />
                        <xsd:enumeration value="variables" />
                        <xsd:enumeration value="messages" />
                        <xsd:enumeration value="correlations" />
                        <xsd:enumeration value="events" />
                        <xsd:enumeration value="all" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="filter" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="on" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="success" />
                    <xsd:enumeration value="failure" />
                    <xsd:enumeration value="always" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="WSO2BPS" type="tns:tBPS"></xsd:element>
    <xsd:complexType name="simpleSchedulerConfig">
        <xsd:sequence>
            <xsd:element name="ODESchedulerQueueLength" type="xsd:int" />
            <xsd:element name="ODESchedulerImmediateInterval" type="xsd:long" />
            <xsd:element name="ODESchedulerNearFutureInterval" type="xsd:long" />
            <xsd:element name="ODESchedulerStaleInterval" type="xsd:long" />
            <xsd:element name="ODESchedulerTransactionsPerSecond" type="xsd:int" />
            <xsd:element name="ODESchedulerWarningDelay" type="xsd:long" />
            <xsd:element name="ODESchedulerImmediateTransactionRetryLimit" type="xsd:int" />
            <xsd:element name="ODESchedulerImmediateTransactionRetryInterval" type="xsd:long" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tBpelUI">
        <xsd:sequence>
            <xsd:element name="BpelInstanceDeletionLimit" type="xsd:int" maxOccurs="1"
                         minOccurs="0"/>
            <xsd:element name="InstanceViewVariableLength" type="xsd:int" minOccurs="0"
                         maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>



