components/humantask/org.wso2.carbon.humantask/src/main/resources/META-INF/ws-humantask-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        targetNamespace="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/types/200803"
        xmlns="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/types/200803"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        blockDefault="#all"
        elementFormDefault="qualified">
    <xsd:annotation>
        <xsd:documentation>
      XML Schema for WS-HumanTask 1.1 - WS-HumanTask Data Type Definitions
    </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <xsd:element name="attachmentInfo" type="tAttachmentInfo"/>
    <xsd:complexType name="tAttachmentInfo">
        <xsd:sequence>
            <xsd:element name="identifier" type="xsd:anyURI"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="accessType" type="xsd:string"/>
            <xsd:element name="contentType" type="xsd:string"/>
            <xsd:element name="contentCategory" type="xsd:anyURI"/>
            <xsd:element name="attachedTime" type="xsd:dateTime"/>
            <xsd:element name="attachedBy" type="tUser"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="attachment" type="tAttachment"/>
    <xsd:complexType name="tAttachment">
        <xsd:sequence>
            <xsd:element ref="attachmentInfo"/>
            <xsd:element name="value" type="xsd:anyType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="comment" type="tComment"/>
    <xsd:complexType name="tComment">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:anyURI"/>
            <xsd:element name="addedTime" type="xsd:dateTime"/>
            <xsd:element name="addedBy" type="tUser"/>
            <xsd:element name="lastModifiedTime" type="xsd:dateTime"/>
            <xsd:element name="lastModifiedBy" type="tUser"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="taskAbstract" type="tTaskAbstract"/>
    <xsd:complexType name="tTaskAbstract">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:anyURI"/>
            <xsd:element name="taskType" type="xsd:string"/>
            <xsd:element name="name" type="xsd:QName"/>
            <xsd:element name="status" type="tStatus"/>
            <xsd:element minOccurs="0" name="priority" type="tPriority"/>
            <xsd:element minOccurs="0" name="taskInitiator" type="tUser"/>
            <xsd:element minOccurs="0" name="taskStakeholders" type="tOrganizationalEntity"/>
            <xsd:element minOccurs="0" name="potentialOwners" type="tOrganizationalEntity"/>
            <xsd:element minOccurs="0" name="businessAdministrators" type="tOrganizationalEntity"/>
            <xsd:element minOccurs="0" name="actualOwner" type="tUser"/>
            <xsd:element minOccurs="0" name="notificationRecipients" type="tOrganizationalEntity"/>
            <xsd:element name="createdTime" type="xsd:dateTime"/>
            <xsd:element name="updatedTime" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="activationTime" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="expirationTime" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="isSkipable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="hasPotentialOwners" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="startByTimeExists" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="completeByTimeExists" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="presentationName" type="tPresentationName"/>
            <xsd:element minOccurs="0" name="presentationSubject" type="tPresentationSubject"/>
            <xsd:element minOccurs="0" name="presentationDescription" type="tPresentationDescription"/>
            <xsd:element name="renderingMethodExists" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="hasOutput" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="hasFault" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="hasAttachments" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="hasComments" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="escalated" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="outcome" type="xsd:string"/>
            <xsd:element minOccurs="0" name="parentTaskId" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="hasSubTasks" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="numberOfComments" type="xsd:int"/>
            <xsd:element minOccurs="0" name="numberOfAttachments" type="xsd:int"/>
            <xsd:element minOccurs="0" name="previousStatus" type="tStatus"/>
            <xsd:element minOccurs="0" name="responseServiceName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="responseOperationName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="isClaimable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="isStartable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="isStopable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="isReleasable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="isSuspendable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="isResumable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="isCompletable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="isRemovable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="isForwardable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="isDelegatable" type="xsd:boolean"/>
            <xsd:element name="packageName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tenantId" type="xsd:int"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="taskDetails" type="tTaskDetails"/>
    <xsd:complexType name="tTaskDetails">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:anyURI"/>
            <xsd:element name="taskType" type="xsd:string"/>
            <xsd:element name="name" type="xsd:QName"/>
            <xsd:element name="status" type="tStatus"/>
            <xsd:element minOccurs="0" name="priority" type="tPriority"/>
            <xsd:element minOccurs="0" name="taskInitiator" type="tUser"/>
            <xsd:element minOccurs="0" name="taskStakeholders" type="tOrganizationalEntity"/>
            <xsd:element minOccurs="0" name="potentialOwners" type="tOrganizationalEntity"/>
            <xsd:element minOccurs="0" name="businessAdministrators" type="tOrganizationalEntity"/>
            <xsd:element minOccurs="0" name="actualOwner" type="tUser"/>
            <xsd:element minOccurs="0" name="notificationRecipients" type="tOrganizationalEntity"/>
            <xsd:element name="createdTime" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="createdBy" type="tUser"/>
            <xsd:element name="lastModifiedTime" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="lastModifiedBy" type="tUser"/>
            <xsd:element minOccurs="0" name="activationTime" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="expirationTime" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="isSkipable" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="hasPotentialOwners" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="startByTimeExists" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="completeByTimeExists" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="presentationName" type="tPresentationName"/>
            <xsd:element minOccurs="0" name="presentationSubject" type="tPresentationSubject"/>
            <xsd:element name="renderingMethodExists" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="hasOutput" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="hasFault" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="hasAttachments" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="hasComments" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="escalated" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="searchBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="outcome" type="xsd:string"/>
            <xsd:element minOccurs="0" name="parentTaskId" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="hasSubTasks" type="xsd:boolean"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="tPresentationName">
        <xsd:annotation>
            <xsd:documentation>length-restricted string</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tPresentationSubject">
        <xsd:annotation>
            <xsd:documentation>length-restricted string</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tPresentationDescription">
        <xsd:annotation>
            <xsd:documentation>length-restricted string</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="preserve"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tStatus">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="tSimpleQueryCategory">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ASSIGNED_TO_ME"/>
            <xsd:enumeration value="ASSIGNABLE"/>
            <xsd:enumeration value="CLAIMABLE"/>
            <xsd:enumeration value="ALL_TASKS"/>
            <xsd:enumeration value="NOTIFICATIONS"/>
            <xsd:enumeration value="ADVANCED_QUERY"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tSimpleQueryOrder">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ASCENDING"/>
            <xsd:enumeration value="DESCENDING"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tSimpleQueryOrderBy">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="TASK_NAME"/>
            <xsd:enumeration value="CREATED_DATE"/>
            <xsd:enumeration value="UPDATED_DATE"/>
            <xsd:enumeration value="PRIORITY"/>
            <xsd:enumeration value="STATUS"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tPredefinedStatus">
        <xsd:annotation>
            <xsd:documentation>for documentation only</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CREATED"/>
            <xsd:enumeration value="READY"/>
            <xsd:enumeration value="RESERVED"/>
            <xsd:enumeration value="IN_PROGRESS"/>
            <xsd:enumeration value="SUSPENDED"/>
            <xsd:enumeration value="COMPLETED"/>
            <xsd:enumeration value="FAILED"/>
            <xsd:enumeration value="ERROR"/>
            <xsd:enumeration value="EXITED"/>
            <xsd:enumeration value="OBSOLETE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tPriority">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="tTime">
        <xsd:choice>
            <xsd:element name="timePeriod" type="xsd:duration"/>
            <xsd:element name="pointOfTime" type="xsd:dateTime"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:element name="simpleQueryInput" type="tSimpleQueryInput"/>
    <xsd:complexType name="tSimpleQueryInput">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="status" type="tStatus"/>
            <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="undatedDate" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="taskName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="pageSize" type="xsd:int"/>
            <xsd:element minOccurs="0" name="pageNumber" type="xsd:int"/>
            <xsd:element minOccurs="0" name="simpleQueryCategory" type="tSimpleQueryCategory"/>
            <xsd:element minOccurs="0" name="queryOrder" type="tSimpleQueryOrder"/>
            <xsd:element minOccurs="0" name="queryOrderBy" type="tSimpleQueryOrderBy"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tTaskOperations">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="activate" type="tTaskOperation"/>
            <xsd:element name="addAttachment" type="tTaskOperation"/>
            <xsd:element name="addComment" type="tTaskOperation"/>
            <xsd:element name="claim" type="tTaskOperation"/>
            <xsd:element name="complete" type="tTaskOperation"/>
            <xsd:element name="delegate" type="tTaskOperation"/>
            <xsd:element name="deleteAttachment" type="tTaskOperation"/>
            <xsd:element name="deleteComment" type="tTaskOperation"/>
            <xsd:element name="deleteFault" type="tTaskOperation"/>
            <xsd:element name="deleteOutput" type="tTaskOperation"/>
            <xsd:element name="fail" type="tTaskOperation"/>
            <xsd:element name="forward" type="tTaskOperation"/>
            <xsd:element name="getAttachment" type="tTaskOperation"/>
            <xsd:element name="getAttachmentInfos" type="tTaskOperation"/>
            <xsd:element name="getComments" type="tTaskOperation"/>
            <xsd:element name="getFault" type="tTaskOperation"/>
            <xsd:element name="getInput" type="tTaskOperation"/>
            <xsd:element name="getOutcome" type="tTaskOperation"/>
            <xsd:element name="getOutput" type="tTaskOperation"/>
            <xsd:element name="getParentTask" type="tTaskOperation"/>
            <xsd:element name="getParentTaskIdentifier" type="tTaskOperation"/>
            <xsd:element name="getRendering" type="tTaskOperation"/>
            <xsd:element name="getRenderingTypes" type="tTaskOperation"/>
            <xsd:element name="getSubtaskIdentifiers" type="tTaskOperation"/>
            <xsd:element name="getSubtasks" type="tTaskOperation"/>
            <xsd:element name="getTaskDescription" type="tTaskOperation"/>
            <xsd:element name="getTaskDetails" type="tTaskOperation"/>
            <xsd:element name="getTaskHistory" type="tTaskOperation"/>
            <xsd:element name="getTaskInstanceData" type="tTaskOperation"/>
            <xsd:element name="hasSubtasks" type="tTaskOperation"/>
            <xsd:element name="instantiateSubtask" type="tTaskOperation"/>
            <xsd:element name="isSubtask" type="tTaskOperation"/>
            <xsd:element name="nominate" type="tTaskOperation"/>
            <xsd:element name="release" type="tTaskOperation"/>
            <xsd:element name="remove" type="tTaskOperation"/>
            <xsd:element name="resume" type="tTaskOperation"/>
            <xsd:element name="setFault" type="tTaskOperation"/>
            <xsd:element name="setGenericHumanRole" type="tTaskOperation"/>
            <xsd:element name="setOutput" type="tTaskOperation"/>
            <xsd:element name="setPriority" type="tTaskOperation"/>
            <xsd:element name="setTaskCompletionDeadlineExpression" type="tTaskOperation"/>
            <xsd:element name="setTaskCompletionDurationExpression" type="tTaskOperation"/>
            <xsd:element name="setTaskStartDeadlineExpression" type="tTaskOperation"/>
            <xsd:element name="setTaskStartDurationExpression" type="tTaskOperation"/>
            <xsd:element name="skip" type="tTaskOperation"/>
            <xsd:element name="start" type="tTaskOperation"/>
            <xsd:element name="stop" type="tTaskOperation"/>
            <xsd:element name="suspend" type="tTaskOperation"/>
            <xsd:element name="suspendUntil" type="tTaskOperation"/>
            <xsd:element name="updateComment" type="tTaskOperation"/>
            <xsd:any namespace="##other" processContents="lax"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="tTaskOperation">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="taskSimpleQueryResultSet" type="tTaskSimpleQueryResultSet"/>
    <xsd:complexType name="tTaskSimpleQueryResultSet">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="row" type="tTaskSimpleQueryResultRow"/>
            <xsd:element minOccurs="0" name="pages" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tTaskSimpleQueryResultRow">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:anyURI"/>
            <xsd:element name="taskType" type="xsd:string"/>
            <xsd:element name="name" type="xsd:QName"/>
            <xsd:element minOccurs="0" name="presentationSubject" type="tPresentationSubject"/>
            <xsd:element minOccurs="0" name="presentationName" type="tPresentationName"/>
            <xsd:element name="status" type="tStatus"/>
            <xsd:element name="priority" type="tPriority"/>
            <xsd:element minOccurs="0" name="createdTime" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="taskAuthorisationParamsResult" type="tTaskAuthorisationParams"/>
    <xsd:complexType name="tTaskAuthorisationParams">
        <xsd:sequence>
            <xsd:element name="authorisedToClaim" type="xsd:boolean"/>
            <xsd:element name="authorisedToComplete" type="xsd:boolean"/>
            <xsd:element name="authorisedToDelegate" type="xsd:boolean"/>
            <xsd:element name="authorisedToExit" type="xsd:boolean"/>
            <xsd:element name="authorisedToNominate" type="xsd:boolean"/>
            <xsd:element name="authorisedToStop" type="xsd:boolean"/>
            <xsd:element name="authorisedToComment" type="xsd:boolean"/>
            <xsd:element name="authorisedToGetComments" type="xsd:boolean"/>
            <xsd:element name="authorisedToDeleteComment" type="xsd:boolean"/>
            <xsd:element name="authorisedToUpdateComment" type="xsd:boolean"/>
            <xsd:element name="authorisedToDeleteFault" type="xsd:boolean"/>
            <xsd:element name="authorisedToFail" type="xsd:boolean"/>
            <xsd:element name="authorisedToForward" type="xsd:boolean"/>
            <xsd:element name="authorisedToDeleteOutput" type="xsd:boolean"/>
            <xsd:element name="authorisedToRelease" type="xsd:boolean"/>
            <xsd:element name="authorisedToResume" type="xsd:boolean"/>
            <xsd:element name="authorisedToRemove" type="xsd:boolean"/>
            <xsd:element name="authorisedToSuspend" type="xsd:boolean"/>
            <xsd:element name="authorisedToSetPriority" type="xsd:boolean"/>
            <xsd:element name="authorisedToSkip" type="xsd:boolean"/>
            <xsd:element name="authorisedToStart" type="xsd:boolean"/>
            <xsd:element name="authorisedToSetFault" type="xsd:boolean"/>
            <xsd:element name="authorisedToGetInput" type="xsd:boolean"/>
            <xsd:element name="authorisedToGetDescription" type="xsd:boolean"/>
            <xsd:element name="authorisedToSetOutput" type="xsd:boolean"/>
            <xsd:element name="authorisedToActivate" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="taskQueryResultSet" type="tTaskQueryResultSet"/>
    <xsd:complexType name="tTaskQueryResultSet">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="row" type="tTaskQueryResultRow"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tTaskQueryResultRow">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="id" type="xsd:anyURI"/>
            <xsd:element name="taskType" type="xsd:string"/>
            <xsd:element name="name" type="xsd:QName"/>
            <xsd:element name="status" type="tStatus"/>
            <xsd:element name="priority" type="tPriority"/>
            <xsd:element name="taskInitiator" type="tOrganizationalEntity"/>
            <xsd:element name="taskStakeholders" type="tOrganizationalEntity"/>
            <xsd:element name="potentialOwners" type="tOrganizationalEntity"/>
            <xsd:element name="businessAdministrators" type="tOrganizationalEntity"/>
            <xsd:element name="actualOwner" type="tUser"/>
            <xsd:element name="notificationRecipients" type="tOrganizationalEntity"/>
            <xsd:element name="createdTime" type="xsd:dateTime"/>
            <xsd:element name="createdBy" type="tUser"/>
            <xsd:element name="lastModifiedTime" type="xsd:dateTime"/>
            <xsd:element name="lastModifiedBy" type="tUser"/>
            <xsd:element name="activationTime" type="xsd:dateTime"/>
            <xsd:element name="expirationTime" type="xsd:dateTime"/>
            <xsd:element name="isSkipable" type="xsd:boolean"/>
            <xsd:element name="hasPotentialOwners" type="xsd:boolean"/>
            <xsd:element name="startByTime" type="xsd:dateTime"/>
            <xsd:element name="completeByTime" type="xsd:dateTime"/>
            <xsd:element name="presentationName" type="tPresentationName"/>
            <xsd:element name="presentationSubject" type="tPresentationSubject"/>
            <xsd:element name="renderingMethodName" type="xsd:QName"/>
            <xsd:element name="hasOutput" type="xsd:boolean"/>
            <xsd:element name="hasFault" type="xsd:boolean"/>
            <xsd:element name="hasAttachments" type="xsd:boolean"/>
            <xsd:element name="hasComments" type="xsd:boolean"/>
            <xsd:element name="escalated" type="xsd:boolean"/>
            <xsd:element name="parentTaskId" type="xsd:anyURI"/>
            <xsd:element name="hasSubtasks" type="xsd:boolean"/>
            <xsd:element name="searchBy" type="xsd:string"/>
            <xsd:element name="outcome" type="xsd:string"/>
            <xsd:element name="taskOperations" type="tTaskOperations"/>
            <xsd:any namespace="##other" processContents="lax"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:element name="taskEvents" type="tTaskEvents"/>
    <xsd:complexType name="tTaskEvents">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="event" type="tTaskEvent"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tTaskEvent">
        <xsd:sequence>
            <xsd:element name="eventId" type="xsd:anyURI"/>
            <xsd:element name="eventType" type="xsd:string"/>
            <xsd:element name="eventInitiator" type="tUser"/>
            <xsd:element minOccurs="0" name="oldState" type="tStatus"/>
            <xsd:element minOccurs="0" name="newState" type="tStatus"/>
            <xsd:element minOccurs="0" name="eventDetail" type="xsd:string"/>
            <xsd:element name="eventTime" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tFault">
        <xsd:sequence>
            <xsd:element name="faultName" type="xsd:NCName"/>
            <xsd:element name="faultData" type="xsd:anyType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="organizationalEntity" type="tOrganizationalEntity"/>
    <xsd:complexType name="tOrganizationalEntity">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="user" type="tUser"/>
            <xsd:element name="group" type="tGroup"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:element name="user" type="tUser"/>
    <xsd:simpleType name="tUser">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:element name="group" type="tGroup"/>
    <xsd:simpleType name="tGroup">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:element name="part" type="tPart"/>
    <xsd:complexType mixed="true" name="tPart">
        <xsd:sequence>
            <xsd:any minOccurs="0" processContents="skip"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:NCName" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="tMessagePartsData">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="part"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tFaultData">
        <xsd:sequence>
            <xsd:element name="faultName" type="xsd:NCName"/>
            <xsd:element name="faultData" type="xsd:anyType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="attachmentInfos" type="tAttachmentInfos"/>
    <xsd:complexType name="tAttachmentInfos">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="info" type="tAttachmentInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="comments" type="tComments"/>
    <xsd:complexType name="tComments">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="comment"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="renderingType" type="xsd:QName"/>
    <xsd:complexType name="tRenderingTypes">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="renderingType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="rendering" type="tRendering"/>
    <xsd:complexType name="tRendering">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:QName" use="required"/>
    </xsd:complexType>
    <xsd:element name="renderings">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="rendering"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="description" type="xsd:string"/>
    <xsd:complexType name="tTaskInstanceData">
        <xsd:sequence>
            <xsd:element ref="taskDetails"/>
            <xsd:element ref="description"/>
            <xsd:element name="input" type="tMessagePartsData"/>
            <xsd:element name="output" nillable="true" type="tMessagePartsData"/>
            <xsd:element minOccurs="0" name="fault" nillable="true" type="tFaultData"/>
            <xsd:element minOccurs="0" ref="renderings"/>
            <xsd:element minOccurs="0" ref="comments"/>
            <xsd:element minOccurs="0" ref="attachmentInfos"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="tTaskEventType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="create"/>
            <xsd:enumeration value="claim"/>
            <xsd:enumeration value="start"/>
            <xsd:enumeration value="stop"/>
            <xsd:enumeration value="release"/>
            <xsd:enumeration value="suspend"/>
            <xsd:enumeration value="suspendUntil"/>
            <xsd:enumeration value="resume"/>
            <xsd:enumeration value="complete"/>
            <xsd:enumeration value="remove"/>
            <xsd:enumeration value="fail"/>
            <xsd:enumeration value="setPriority"/>
            <xsd:enumeration value="addAttachment"/>
            <xsd:enumeration value="deleteattachment"/>
            <xsd:enumeration value="addComment"/>
            <xsd:enumeration value="skip"/>
            <xsd:enumeration value="forward"/>
            <xsd:enumeration value="delegate"/>
            <xsd:enumeration value="setOutput"/>
            <xsd:enumeration value="deleteOutput"/>
            <xsd:enumeration value="setFault"/>
            <xsd:enumeration value="deleteFault"/>
            <xsd:enumeration value="activate"/>
            <xsd:enumeration value="nominate"/>
            <xsd:enumeration value="setGenericHumanRole"/>
            <xsd:enumeration value="expire"/>
            <xsd:enumeration value="escalated"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="taskEvent">
        <xsd:complexType>
            <xsd:annotation>
                <xsd:documentation>
               A detailed event that represnts a change in the task's state. 
            </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:integer"/>
                <xsd:element name="eventTime" type="xsd:dateTime"/>
                <xsd:element name="identifier" type="xsd:anyURI"/>
                <xsd:element minOccurs="0" name="principal" nillable="true" type="xsd:string"/>
                <xsd:element name="eventType" type="tTaskEventType"/>
                <xsd:element minOccurs="0" name="startOwner" nillable="true" type="xsd:string"/>
                <xsd:element minOccurs="0" name="endOwner" nillable="true" type="xsd:string"/>
                <xsd:element name="status" type="tStatus"/>
                <xsd:element minOccurs="0" name="hasData" type="xsd:boolean"/>
                <xsd:element minOccurs="0" name="eventData" nillable="true" type="xsd:anyType"/>
                <xsd:element minOccurs="0" name="faultName" nillable="true" type="xsd:string"/>
                <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="tTaskHistoryFilter">
        <xsd:choice>
            <xsd:element name="eventId" type="xsd:integer"/>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="status" type="tStatus"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="eventType" type="tTaskEventType"/>
                <xsd:element minOccurs="0" name="principal" type="xsd:string"/>
                <xsd:element minOccurs="0" name="afterEventTime" type="xsd:dateTime"/>
                <xsd:element minOccurs="0" name="beforeEventTime" type="xsd:dateTime"/>
            </xsd:sequence>
        </xsd:choice>
    </xsd:complexType>
</xsd:schema>
