service-stubs/bpmn/org.wso2.carbon.bpmn.stub/src/main/resources/BPMNHumanTaskService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.core.bpmn.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://model.mgt.core.bpmn.carbon.wso2.org/xsd" xmlns:ax21="http://core.bpmn.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.core.bpmn.carbon.wso2.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.mgt.core.bpmn.carbon.wso2.org/xsd">
            <xs:complexType name="BPMNTask">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="processInstanceId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.bpmn.carbon.wso2.org/xsd">
            <xs:complexType name="BPSException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://model.mgt.core.bpmn.carbon.wso2.org/xsd" xmlns:ax22="http://core.bpmn.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.core.bpmn.carbon.wso2.org">
            <xs:import namespace="http://core.bpmn.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://model.mgt.core.bpmn.carbon.wso2.org/xsd"/>
            <xs:element name="BPMNHumanTasksServiceBPSException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BPSException" nillable="true" type="ax21:BPSException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTasksOfUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTasksOfUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:BPMNTask"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeTask">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="completeTaskRequest">
        <wsdl:part name="parameters" element="ns:completeTask"/>
    </wsdl:message>
    <wsdl:message name="BPMNHumanTasksServiceBPSException">
        <wsdl:part name="parameters" element="ns:BPMNHumanTasksServiceBPSException"/>
    </wsdl:message>
    <wsdl:message name="getTasksOfUserRequest">
        <wsdl:part name="parameters" element="ns:getTasksOfUser"/>
    </wsdl:message>
    <wsdl:message name="getTasksOfUserResponse">
        <wsdl:part name="parameters" element="ns:getTasksOfUserResponse"/>
    </wsdl:message>
    <wsdl:portType name="BPMNHumanTasksServicePortType">
        <wsdl:operation name="completeTask">
            <wsdl:input message="ns:completeTaskRequest" wsaw:Action="urn:completeTask"/>
            <wsdl:fault message="ns:BPMNHumanTasksServiceBPSException" name="BPMNHumanTasksServiceBPSException" wsaw:Action="urn:completeTaskBPMNHumanTasksServiceBPSException"/>
        </wsdl:operation>
        <wsdl:operation name="getTasksOfUser">
            <wsdl:input message="ns:getTasksOfUserRequest" wsaw:Action="urn:getTasksOfUser"/>
            <wsdl:output message="ns:getTasksOfUserResponse" wsaw:Action="urn:getTasksOfUserResponse"/>
            <wsdl:fault message="ns:BPMNHumanTasksServiceBPSException" name="BPMNHumanTasksServiceBPSException" wsaw:Action="urn:getTasksOfUserBPMNHumanTasksServiceBPSException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BPMNHumanTasksServiceSoap11Binding" type="ns:BPMNHumanTasksServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="completeTask">
            <soap:operation soapAction="urn:completeTask" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNHumanTasksServiceBPSException">
                <soap:fault use="literal" name="BPMNHumanTasksServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTasksOfUser">
            <soap:operation soapAction="urn:getTasksOfUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNHumanTasksServiceBPSException">
                <soap:fault use="literal" name="BPMNHumanTasksServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BPMNHumanTasksServiceSoap12Binding" type="ns:BPMNHumanTasksServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="completeTask">
            <soap12:operation soapAction="urn:completeTask" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNHumanTasksServiceBPSException">
                <soap12:fault use="literal" name="BPMNHumanTasksServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTasksOfUser">
            <soap12:operation soapAction="urn:getTasksOfUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNHumanTasksServiceBPSException">
                <soap12:fault use="literal" name="BPMNHumanTasksServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BPMNHumanTasksServiceHttpBinding" type="ns:BPMNHumanTasksServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="completeTask">
            <http:operation location="completeTask"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTasksOfUser">
            <http:operation location="getTasksOfUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BPMNHumanTasksService">
        <wsdl:port name="BPMNHumanTasksServiceHttpSoap11Endpoint" binding="ns:BPMNHumanTasksServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/BPMNHumanTasksService"/>
        </wsdl:port>
        <wsdl:port name="BPMNHumanTasksServiceHttpSoap12Endpoint" binding="ns:BPMNHumanTasksServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/BPMNHumanTasksService"/>
        </wsdl:port>
        <wsdl:port name="BPMNHumanTasksServiceHttpEndpoint" binding="ns:BPMNHumanTasksServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/BPMNHumanTasksService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
