service-stubs/bpmn/org.wso2.carbon.bpmn.stub/src/main/resources/BPMNInstanceService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.core.bpmn.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax223="http://core.bpmn.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax225="http://model.mgt.core.bpmn.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.core.bpmn.carbon.wso2.org">
    <wsdl:documentation>BPMNInstanceService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.mgt.core.bpmn.carbon.wso2.org/xsd">
            <xs:complexType name="BPMNInstance">
                <xs:sequence>
                    <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="processId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="suspended" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="variables" nillable="true" type="ax225:BPMNVariable"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BPMNVariable">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.bpmn.carbon.wso2.org/xsd">
            <xs:complexType name="BPSException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax224="http://core.bpmn.carbon.wso2.org/xsd" xmlns:ax226="http://model.mgt.core.bpmn.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.core.bpmn.carbon.wso2.org">
            <xs:import namespace="http://core.bpmn.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://model.mgt.core.bpmn.carbon.wso2.org/xsd"/>
            <xs:element name="BPMNInstanceServiceBPSException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BPSException" nillable="true" type="ax223:BPSException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startProcess">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="processID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProcessInstances">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProcessInstancesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax225:BPMNInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInstanceCount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInstanceCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="suspendProcessInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteProcessInstanceSet">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="instanceIdSet" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateProcessInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteProcessInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="suspendProcessInstanceRequest">
        <wsdl:part name="parameters" element="ns:suspendProcessInstance"/>
    </wsdl:message>
    <wsdl:message name="BPMNInstanceServiceBPSException">
        <wsdl:part name="parameters" element="ns:BPMNInstanceServiceBPSException"/>
    </wsdl:message>
    <wsdl:message name="getInstanceCountRequest">
        <wsdl:part name="parameters" element="ns:getInstanceCount"/>
    </wsdl:message>
    <wsdl:message name="getInstanceCountResponse">
        <wsdl:part name="parameters" element="ns:getInstanceCountResponse"/>
    </wsdl:message>
    <wsdl:message name="activateProcessInstanceRequest">
        <wsdl:part name="parameters" element="ns:activateProcessInstance"/>
    </wsdl:message>
    <wsdl:message name="deleteProcessInstanceSetRequest">
        <wsdl:part name="parameters" element="ns:deleteProcessInstanceSet"/>
    </wsdl:message>
    <wsdl:message name="getProcessInstancesRequest">
        <wsdl:part name="parameters" element="ns:getProcessInstances"/>
    </wsdl:message>
    <wsdl:message name="getProcessInstancesResponse">
        <wsdl:part name="parameters" element="ns:getProcessInstancesResponse"/>
    </wsdl:message>
    <wsdl:message name="startProcessRequest">
        <wsdl:part name="parameters" element="ns:startProcess"/>
    </wsdl:message>
    <wsdl:message name="deleteProcessInstanceRequest">
        <wsdl:part name="parameters" element="ns:deleteProcessInstance"/>
    </wsdl:message>
    <wsdl:portType name="BPMNInstanceServicePortType">
        <wsdl:operation name="suspendProcessInstance">
            <wsdl:input message="ns:suspendProcessInstanceRequest" wsaw:Action="urn:suspendProcessInstance"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSException" name="BPMNInstanceServiceBPSException" wsaw:Action="urn:suspendProcessInstanceBPMNInstanceServiceBPSException"/>
        </wsdl:operation>
        <wsdl:operation name="getInstanceCount">
            <wsdl:input message="ns:getInstanceCountRequest" wsaw:Action="urn:getInstanceCount"/>
            <wsdl:output message="ns:getInstanceCountResponse" wsaw:Action="urn:getInstanceCountResponse"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSException" name="BPMNInstanceServiceBPSException" wsaw:Action="urn:getInstanceCountBPMNInstanceServiceBPSException"/>
        </wsdl:operation>
        <wsdl:operation name="activateProcessInstance">
            <wsdl:input message="ns:activateProcessInstanceRequest" wsaw:Action="urn:activateProcessInstance"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSException" name="BPMNInstanceServiceBPSException" wsaw:Action="urn:activateProcessInstanceBPMNInstanceServiceBPSException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstanceSet">
            <wsdl:input message="ns:deleteProcessInstanceSetRequest" wsaw:Action="urn:deleteProcessInstanceSet"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSException" name="BPMNInstanceServiceBPSException" wsaw:Action="urn:deleteProcessInstanceSetBPMNInstanceServiceBPSException"/>
        </wsdl:operation>
        <wsdl:operation name="getProcessInstances">
            <wsdl:input message="ns:getProcessInstancesRequest" wsaw:Action="urn:getProcessInstances"/>
            <wsdl:output message="ns:getProcessInstancesResponse" wsaw:Action="urn:getProcessInstancesResponse"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSException" name="BPMNInstanceServiceBPSException" wsaw:Action="urn:getProcessInstancesBPMNInstanceServiceBPSException"/>
        </wsdl:operation>
        <wsdl:operation name="startProcess">
            <wsdl:input message="ns:startProcessRequest" wsaw:Action="urn:startProcess"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSException" name="BPMNInstanceServiceBPSException" wsaw:Action="urn:startProcessBPMNInstanceServiceBPSException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstance">
            <wsdl:input message="ns:deleteProcessInstanceRequest" wsaw:Action="urn:deleteProcessInstance"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSException" name="BPMNInstanceServiceBPSException" wsaw:Action="urn:deleteProcessInstanceBPMNInstanceServiceBPSException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BPMNInstanceServiceSoap11Binding" type="ns:BPMNInstanceServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="suspendProcessInstance">
            <soap:operation soapAction="urn:suspendProcessInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInstanceCount">
            <soap:operation soapAction="urn:getInstanceCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateProcessInstance">
            <soap:operation soapAction="urn:activateProcessInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstanceSet">
            <soap:operation soapAction="urn:deleteProcessInstanceSet" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProcessInstances">
            <soap:operation soapAction="urn:getProcessInstances" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startProcess">
            <soap:operation soapAction="urn:startProcess" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstance">
            <soap:operation soapAction="urn:deleteProcessInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BPMNInstanceServiceSoap12Binding" type="ns:BPMNInstanceServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="suspendProcessInstance">
            <soap12:operation soapAction="urn:suspendProcessInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInstanceCount">
            <soap12:operation soapAction="urn:getInstanceCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateProcessInstance">
            <soap12:operation soapAction="urn:activateProcessInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstanceSet">
            <soap12:operation soapAction="urn:deleteProcessInstanceSet" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProcessInstances">
            <soap12:operation soapAction="urn:getProcessInstances" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startProcess">
            <soap12:operation soapAction="urn:startProcess" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstance">
            <soap12:operation soapAction="urn:deleteProcessInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSException">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BPMNInstanceServiceHttpBinding" type="ns:BPMNInstanceServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="suspendProcessInstance">
            <http:operation location="suspendProcessInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getInstanceCount">
            <http:operation location="getInstanceCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="activateProcessInstance">
            <http:operation location="activateProcessInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstanceSet">
            <http:operation location="deleteProcessInstanceSet"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getProcessInstances">
            <http:operation location="getProcessInstances"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startProcess">
            <http:operation location="startProcess"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstance">
            <http:operation location="deleteProcessInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BPMNInstanceService">
        <wsdl:port name="BPMNInstanceServiceHttpsSoap11Endpoint" binding="ns:BPMNInstanceServiceSoap11Binding">
            <soap:address location="https://192.168.1.130:9443/services/BPMNInstanceService.BPMNInstanceServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BPMNInstanceServiceHttpsSoap12Endpoint" binding="ns:BPMNInstanceServiceSoap12Binding">
            <soap12:address location="https://192.168.1.130:9443/services/BPMNInstanceService.BPMNInstanceServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BPMNInstanceServiceHttpsEndpoint" binding="ns:BPMNInstanceServiceHttpBinding">
            <http:address location="https://192.168.1.130:9443/services/BPMNInstanceService.BPMNInstanceServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>