service-stubs/bpmn/org.wso2.carbon.bpmn.stub/src/main/resources/BPMNUploaderService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax215="http://model.mgt.core.bpmn.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.core.bpmn.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax217="http://io.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.core.bpmn.carbon.wso2.org">
    <wsdl:documentation>BPMNUploaderService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.mgt.core.bpmn.carbon.wso2.org/xsd">
            <xs:complexType name="UploadedFileItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"></xs:element>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="fileType" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType abstract="true" name="Closeable">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax216="http://model.mgt.core.bpmn.carbon.wso2.org/xsd" xmlns:ax218="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.core.bpmn.carbon.wso2.org">
            <xs:import namespace="http://model.mgt.core.bpmn.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://io.java/xsd"></xs:import>
            <xs:element name="uploadService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="fileItems" nillable="true" type="ax215:UploadedFileItem"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="close">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="c" nillable="true" type="ax217:Closeable"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadServiceRequest">
        <wsdl:part name="parameters" element="ns:uploadService"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="closeRequest">
        <wsdl:part name="parameters" element="ns:close"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BPMNUploaderServicePortType">
        <wsdl:operation name="uploadService">
            <wsdl:input message="ns:uploadServiceRequest" wsaw:Action="urn:uploadService"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="close">
            <wsdl:input message="ns:closeRequest" wsaw:Action="urn:close"></wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BPMNUploaderServiceSoap11Binding" type="ns:BPMNUploaderServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="uploadService">
            <soap:operation soapAction="urn:uploadService" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="close">
            <soap:operation soapAction="urn:close" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BPMNUploaderServiceSoap12Binding" type="ns:BPMNUploaderServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="uploadService">
            <soap12:operation soapAction="urn:uploadService" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="close">
            <soap12:operation soapAction="urn:close" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BPMNUploaderServiceHttpBinding" type="ns:BPMNUploaderServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="uploadService">
            <http:operation location="uploadService"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="close">
            <http:operation location="close"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BPMNUploaderService">
        <wsdl:port name="BPMNUploaderServiceHttpsSoap11Endpoint" binding="ns:BPMNUploaderServiceSoap11Binding">
            <soap:address location="https://10.100.1.177:9443/services/BPMNUploaderService.BPMNUploaderServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="BPMNUploaderServiceHttpsSoap12Endpoint" binding="ns:BPMNUploaderServiceSoap12Binding">
            <soap12:address location="https://10.100.1.177:9443/services/BPMNUploaderService.BPMNUploaderServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="BPMNUploaderServiceHttpsEndpoint" binding="ns:BPMNUploaderServiceHttpBinding">
            <http:address location="https://10.100.1.177:9443/services/BPMNUploaderService.BPMNUploaderServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>