service-stubs/bpmn/org.wso2.carbon.bpmn.stub/src/main/resources/BPMNInstanceService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.core.bpmn.carbon.wso2.org" xmlns:ax221="http://core.bpmn.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax223="http://model.mgt.core.bpmn.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.core.bpmn.carbon.wso2.org">
    <wsdl:documentation>BPMNInstanceService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.mgt.core.bpmn.carbon.wso2.org/xsd">
            <xs:complexType name="BPMNInstance">
                <xs:sequence>
                    <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="processId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="suspended" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="variables" nillable="true" type="ax223:BPMNVariable"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BPMNVariable">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.bpmn.carbon.wso2.org/xsd">
            <xs:complexType name="BPSFault">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax222="http://core.bpmn.carbon.wso2.org/xsd" xmlns:ax224="http://model.mgt.core.bpmn.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.core.bpmn.carbon.wso2.org">
            <xs:import namespace="http://core.bpmn.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://model.mgt.core.bpmn.carbon.wso2.org/xsd"/>
            <xs:element name="BPMNInstanceServiceBPSFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BPSFault" nillable="true" type="ax221:BPSFault"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startProcess">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="processID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProcessInstances">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProcessInstancesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax223:BPMNInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedInstanceByFilter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="finished" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="startAfter" nillable="true" type="xs:date"/>
                        <xs:element minOccurs="0" name="startBefore" nillable="true" type="xs:date"/>
                        <xs:element minOccurs="0" name="processId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="variable" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="start" type="xs:int"/>
                        <xs:element minOccurs="0" name="size" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedInstanceByFilterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax223:BPMNInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedUnfinishedInstancesByStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isActive" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="start" type="xs:int"/>
                        <xs:element minOccurs="0" name="size" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedUnfinishedInstancesByStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax223:BPMNInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedInstances">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="start" type="xs:int"/>
                        <xs:element minOccurs="0" name="size" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedInstancesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax223:BPMNInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInstanceCount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInstanceCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedHistoryInstances">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="start" type="xs:int"/>
                        <xs:element minOccurs="0" name="size" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedHistoryInstancesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax223:BPMNInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHistoryInstanceCount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHistoryInstanceCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteHistoryInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAllCompletedInstances">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="suspendProcessInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteProcessInstanceSet">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="instanceIdSet" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateProcessInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProcessInstanceDiagram">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProcessInstanceDiagramResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteProcessInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="suspendProcessInstanceRequest">
        <wsdl:part name="parameters" element="ns:suspendProcessInstance"/>
    </wsdl:message>
    <wsdl:message name="BPMNInstanceServiceBPSFault">
        <wsdl:part name="parameters" element="ns:BPMNInstanceServiceBPSFault"/>
    </wsdl:message>
    <wsdl:message name="getInstanceCountRequest">
        <wsdl:part name="parameters" element="ns:getInstanceCount"/>
    </wsdl:message>
    <wsdl:message name="getInstanceCountResponse">
        <wsdl:part name="parameters" element="ns:getInstanceCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedHistoryInstancesRequest">
        <wsdl:part name="parameters" element="ns:getPaginatedHistoryInstances"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedHistoryInstancesResponse">
        <wsdl:part name="parameters" element="ns:getPaginatedHistoryInstancesResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteAllCompletedInstancesRequest">
        <wsdl:part name="parameters" element="ns:deleteAllCompletedInstances"/>
    </wsdl:message>
    <wsdl:message name="getHistoryInstanceCountRequest">
        <wsdl:part name="parameters" element="ns:getHistoryInstanceCount"/>
    </wsdl:message>
    <wsdl:message name="getHistoryInstanceCountResponse">
        <wsdl:part name="parameters" element="ns:getHistoryInstanceCountResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteHistoryInstanceRequest">
        <wsdl:part name="parameters" element="ns:deleteHistoryInstance"/>
    </wsdl:message>
    <wsdl:message name="activateProcessInstanceRequest">
        <wsdl:part name="parameters" element="ns:activateProcessInstance"/>
    </wsdl:message>
    <wsdl:message name="deleteProcessInstanceSetRequest">
        <wsdl:part name="parameters" element="ns:deleteProcessInstanceSet"/>
    </wsdl:message>
    <wsdl:message name="getProcessInstancesRequest">
        <wsdl:part name="parameters" element="ns:getProcessInstances"/>
    </wsdl:message>
    <wsdl:message name="getProcessInstancesResponse">
        <wsdl:part name="parameters" element="ns:getProcessInstancesResponse"/>
    </wsdl:message>
    <wsdl:message name="getProcessInstanceDiagramRequest">
        <wsdl:part name="parameters" element="ns:getProcessInstanceDiagram"/>
    </wsdl:message>
    <wsdl:message name="getProcessInstanceDiagramResponse">
        <wsdl:part name="parameters" element="ns:getProcessInstanceDiagramResponse"/>
    </wsdl:message>
    <wsdl:message name="startProcessRequest">
        <wsdl:part name="parameters" element="ns:startProcess"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedInstanceByFilterRequest">
        <wsdl:part name="parameters" element="ns:getPaginatedInstanceByFilter"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedInstanceByFilterResponse">
        <wsdl:part name="parameters" element="ns:getPaginatedInstanceByFilterResponse"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedUnfinishedInstancesByStatusRequest">
        <wsdl:part name="parameters" element="ns:getPaginatedUnfinishedInstancesByStatus"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedUnfinishedInstancesByStatusResponse">
        <wsdl:part name="parameters" element="ns:getPaginatedUnfinishedInstancesByStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteProcessInstanceRequest">
        <wsdl:part name="parameters" element="ns:deleteProcessInstance"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedInstancesRequest">
        <wsdl:part name="parameters" element="ns:getPaginatedInstances"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedInstancesResponse">
        <wsdl:part name="parameters" element="ns:getPaginatedInstancesResponse"/>
    </wsdl:message>
    <wsdl:portType name="BPMNInstanceServicePortType">
        <wsdl:operation name="suspendProcessInstance">
            <wsdl:input message="ns:suspendProcessInstanceRequest" wsaw:Action="urn:suspendProcessInstance"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSFault" name="BPMNInstanceServiceBPSFault" wsaw:Action="urn:suspendProcessInstanceBPMNInstanceServiceBPSFault"/>
        </wsdl:operation>
        <wsdl:operation name="getInstanceCount">
            <wsdl:input message="ns:getInstanceCountRequest" wsaw:Action="urn:getInstanceCount"/>
            <wsdl:output message="ns:getInstanceCountResponse" wsaw:Action="urn:getInstanceCountResponse"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSFault" name="BPMNInstanceServiceBPSFault" wsaw:Action="urn:getInstanceCountBPMNInstanceServiceBPSFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedHistoryInstances">
            <wsdl:input message="ns:getPaginatedHistoryInstancesRequest" wsaw:Action="urn:getPaginatedHistoryInstances"/>
            <wsdl:output message="ns:getPaginatedHistoryInstancesResponse" wsaw:Action="urn:getPaginatedHistoryInstancesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAllCompletedInstances">
            <wsdl:input message="ns:deleteAllCompletedInstancesRequest" wsaw:Action="urn:deleteAllCompletedInstances"/>
        </wsdl:operation>
        <wsdl:operation name="getHistoryInstanceCount">
            <wsdl:input message="ns:getHistoryInstanceCountRequest" wsaw:Action="urn:getHistoryInstanceCount"/>
            <wsdl:output message="ns:getHistoryInstanceCountResponse" wsaw:Action="urn:getHistoryInstanceCountResponse"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSFault" name="BPMNInstanceServiceBPSFault" wsaw:Action="urn:getHistoryInstanceCountBPMNInstanceServiceBPSFault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteHistoryInstance">
            <wsdl:input message="ns:deleteHistoryInstanceRequest" wsaw:Action="urn:deleteHistoryInstance"/>
        </wsdl:operation>
        <wsdl:operation name="activateProcessInstance">
            <wsdl:input message="ns:activateProcessInstanceRequest" wsaw:Action="urn:activateProcessInstance"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSFault" name="BPMNInstanceServiceBPSFault" wsaw:Action="urn:activateProcessInstanceBPMNInstanceServiceBPSFault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstanceSet">
            <wsdl:input message="ns:deleteProcessInstanceSetRequest" wsaw:Action="urn:deleteProcessInstanceSet"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSFault" name="BPMNInstanceServiceBPSFault" wsaw:Action="urn:deleteProcessInstanceSetBPMNInstanceServiceBPSFault"/>
        </wsdl:operation>
        <wsdl:operation name="getProcessInstances">
            <wsdl:input message="ns:getProcessInstancesRequest" wsaw:Action="urn:getProcessInstances"/>
            <wsdl:output message="ns:getProcessInstancesResponse" wsaw:Action="urn:getProcessInstancesResponse"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSFault" name="BPMNInstanceServiceBPSFault" wsaw:Action="urn:getProcessInstancesBPMNInstanceServiceBPSFault"/>
        </wsdl:operation>
        <wsdl:operation name="getProcessInstanceDiagram">
            <wsdl:input message="ns:getProcessInstanceDiagramRequest" wsaw:Action="urn:getProcessInstanceDiagram"/>
            <wsdl:output message="ns:getProcessInstanceDiagramResponse" wsaw:Action="urn:getProcessInstanceDiagramResponse"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSFault" name="BPMNInstanceServiceBPSFault" wsaw:Action="urn:getProcessInstanceDiagramBPMNInstanceServiceBPSFault"/>
        </wsdl:operation>
        <wsdl:operation name="startProcess">
            <wsdl:input message="ns:startProcessRequest" wsaw:Action="urn:startProcess"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSFault" name="BPMNInstanceServiceBPSFault" wsaw:Action="urn:startProcessBPMNInstanceServiceBPSFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedInstanceByFilter">
            <wsdl:input message="ns:getPaginatedInstanceByFilterRequest" wsaw:Action="urn:getPaginatedInstanceByFilter"/>
            <wsdl:output message="ns:getPaginatedInstanceByFilterResponse" wsaw:Action="urn:getPaginatedInstanceByFilterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedUnfinishedInstancesByStatus">
            <wsdl:input message="ns:getPaginatedUnfinishedInstancesByStatusRequest" wsaw:Action="urn:getPaginatedUnfinishedInstancesByStatus"/>
            <wsdl:output message="ns:getPaginatedUnfinishedInstancesByStatusResponse" wsaw:Action="urn:getPaginatedUnfinishedInstancesByStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstance">
            <wsdl:input message="ns:deleteProcessInstanceRequest" wsaw:Action="urn:deleteProcessInstance"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSFault" name="BPMNInstanceServiceBPSFault" wsaw:Action="urn:deleteProcessInstanceBPMNInstanceServiceBPSFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedInstances">
            <wsdl:input message="ns:getPaginatedInstancesRequest" wsaw:Action="urn:getPaginatedInstances"/>
            <wsdl:output message="ns:getPaginatedInstancesResponse" wsaw:Action="urn:getPaginatedInstancesResponse"/>
            <wsdl:fault message="ns:BPMNInstanceServiceBPSFault" name="BPMNInstanceServiceBPSFault" wsaw:Action="urn:getPaginatedInstancesBPMNInstanceServiceBPSFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BPMNInstanceServiceSoap11Binding" type="ns:BPMNInstanceServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="suspendProcessInstance">
            <soap:operation soapAction="urn:suspendProcessInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInstanceCount">
            <soap:operation soapAction="urn:getInstanceCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedHistoryInstances">
            <soap:operation soapAction="urn:getPaginatedHistoryInstances" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHistoryInstanceCount">
            <soap:operation soapAction="urn:getHistoryInstanceCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteAllCompletedInstances">
            <soap:operation soapAction="urn:deleteAllCompletedInstances" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteHistoryInstance">
            <soap:operation soapAction="urn:deleteHistoryInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="activateProcessInstance">
            <soap:operation soapAction="urn:activateProcessInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstanceSet">
            <soap:operation soapAction="urn:deleteProcessInstanceSet" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProcessInstances">
            <soap:operation soapAction="urn:getProcessInstances" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProcessInstanceDiagram">
            <soap:operation soapAction="urn:getProcessInstanceDiagram" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startProcess">
            <soap:operation soapAction="urn:startProcess" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedInstanceByFilter">
            <soap:operation soapAction="urn:getPaginatedInstanceByFilter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedUnfinishedInstancesByStatus">
            <soap:operation soapAction="urn:getPaginatedUnfinishedInstancesByStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedInstances">
            <soap:operation soapAction="urn:getPaginatedInstances" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstance">
            <soap:operation soapAction="urn:deleteProcessInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BPMNInstanceServiceSoap12Binding" type="ns:BPMNInstanceServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="suspendProcessInstance">
            <soap12:operation soapAction="urn:suspendProcessInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInstanceCount">
            <soap12:operation soapAction="urn:getInstanceCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedHistoryInstances">
            <soap12:operation soapAction="urn:getPaginatedHistoryInstances" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHistoryInstanceCount">
            <soap12:operation soapAction="urn:getHistoryInstanceCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteAllCompletedInstances">
            <soap12:operation soapAction="urn:deleteAllCompletedInstances" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteHistoryInstance">
            <soap12:operation soapAction="urn:deleteHistoryInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="activateProcessInstance">
            <soap12:operation soapAction="urn:activateProcessInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstanceSet">
            <soap12:operation soapAction="urn:deleteProcessInstanceSet" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProcessInstances">
            <soap12:operation soapAction="urn:getProcessInstances" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProcessInstanceDiagram">
            <soap12:operation soapAction="urn:getProcessInstanceDiagram" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startProcess">
            <soap12:operation soapAction="urn:startProcess" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedInstanceByFilter">
            <soap12:operation soapAction="urn:getPaginatedInstanceByFilter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedUnfinishedInstancesByStatus">
            <soap12:operation soapAction="urn:getPaginatedUnfinishedInstancesByStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedInstances">
            <soap12:operation soapAction="urn:getPaginatedInstances" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstance">
            <soap12:operation soapAction="urn:deleteProcessInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BPMNInstanceServiceBPSFault">
                <soap12:fault use="literal" name="BPMNInstanceServiceBPSFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BPMNInstanceServiceHttpBinding" type="ns:BPMNInstanceServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="suspendProcessInstance">
            <http:operation location="suspendProcessInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getInstanceCount">
            <http:operation location="getInstanceCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedHistoryInstances">
            <http:operation location="getPaginatedHistoryInstances"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHistoryInstanceCount">
            <http:operation location="getHistoryInstanceCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllCompletedInstances">
            <http:operation location="deleteAllCompletedInstances"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteHistoryInstance">
            <http:operation location="deleteHistoryInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="activateProcessInstance">
            <http:operation location="activateProcessInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstanceSet">
            <http:operation location="deleteProcessInstanceSet"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getProcessInstances">
            <http:operation location="getProcessInstances"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProcessInstanceDiagram">
            <http:operation location="getProcessInstanceDiagram"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startProcess">
            <http:operation location="startProcess"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedInstanceByFilter">
            <http:operation location="getPaginatedInstanceByFilter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedUnfinishedInstancesByStatus">
            <http:operation location="getPaginatedUnfinishedInstancesByStatus"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedInstances">
            <http:operation location="getPaginatedInstances"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteProcessInstance">
            <http:operation location="deleteProcessInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BPMNInstanceService">
        <wsdl:port name="BPMNInstanceServiceHttpsSoap11Endpoint" binding="ns:BPMNInstanceServiceSoap11Binding">
            <soap:address location="https://192.168.2.105:9443/services/BPMNInstanceService.BPMNInstanceServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BPMNInstanceServiceHttpsSoap12Endpoint" binding="ns:BPMNInstanceServiceSoap12Binding">
            <soap12:address location="https://192.168.2.105:9443/services/BPMNInstanceService.BPMNInstanceServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BPMNInstanceServiceHttpsEndpoint" binding="ns:BPMNInstanceServiceHttpBinding">
            <http:address location="https://192.168.2.105:9443/services/BPMNInstanceService.BPMNInstanceServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>