service-stubs/org.wso2.carbon.attachment.mgt.skeleton/src/main/resources/AttachmentMgtService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
 ~ Copyright (c) 2005-2012, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.wso2.org/carbon/bussiness/processes/AttachmentMgtService/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  name="AttachmentMgtService"
                  targetNamespace="http://www.wso2.org/carbon/bussiness/processes/AttachmentMgtService/">
    <wsdl:types>
        <xsd:schema
                targetNamespace="http://www.wso2.org/carbon/bussiness/processes/AttachmentMgtService/">
            <xsd:element name="add">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attachment" type="tns:tAttachment"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attachment-id" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="remove">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="removeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isRemoved" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAttachmentInfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attachment-id" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
	    <xsd:element name="getAttachmentInfoFromURL">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attachment-url" type="xsd:anyURI" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAttachmentInfoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="tns:tAttachment">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="tAttachment">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="contentType" type="xsd:string" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="content" type="xsd:base64Binary" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="createdBy" type="xsd:string" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="createdTime" type="xsd:dateTime" maxOccurs="1" minOccurs="0" />
		    <xsd:element name="url" type="xsd:anyURI" maxOccurs="1" minOccurs="0" />	
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="attachmentManagementException">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:string"/>
                        <xsd:element name="stackTrace" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="addRequest">
        <wsdl:part element="tns:add" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part element="tns:addResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="removeRequest">
        <wsdl:part name="parameters" element="tns:remove" />
    </wsdl:message>
    <wsdl:message name="removeResponse">
        <wsdl:part name="parameters" element="tns:removeResponse" />
    </wsdl:message>
    <wsdl:message name="getAttachmentInfoRequest">
        <wsdl:part name="parameters" element="tns:getAttachmentInfo" />
    </wsdl:message>
    <wsdl:message name="getAttachmentInfoResponse">
        <wsdl:part name="parameters" element="tns:getAttachmentInfoResponse" />
    </wsdl:message>
    <wsdl:message name="getAttachmentInfoFromURLRequest">
        <wsdl:part name="parameters" element="tns:getAttachmentInfo" />
    </wsdl:message>
    <wsdl:message name="attachmentManagementException">
        <wsdl:part name="parameters" element="tns:attachmentManagementException"/>
    </wsdl:message>

    <wsdl:portType name="AttachmentMgtService">
        <wsdl:operation name="add">
            <wsdl:documentation>Add an attachment to the Attachment Component</wsdl:documentation>
            <wsdl:input message="tns:addRequest"/>
            <wsdl:output message="tns:addResponse"/>
            <wsdl:fault message="tns:attachmentManagementException" name="attachmentMgtException"
                        wsaw:Action="urn:addAttachmentMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="remove">
            <wsdl:documentation>Remove an attachment existing in Attachment
                Component</wsdl:documentation>
            <wsdl:input message="tns:removeRequest" />
            <wsdl:output message="tns:removeResponse" />
            <wsdl:fault message="tns:attachmentManagementException" name="attachmentMgtException"
                        wsaw:Action="urn:removeAttachmentMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="getAttachmentInfo">
            <wsdl:documentation>Get attachment info for a given attachment id</wsdl:documentation>
            <wsdl:input message="tns:getAttachmentInfoRequest" />
            <wsdl:output message="tns:getAttachmentInfoResponse" />
            <wsdl:fault message="tns:attachmentManagementException" name="attachmentMgtException"
                        wsaw:Action="urn:getAttachmentInfoAttachmentMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="getAttachmentInfoFromURL">
            <wsdl:documentation>Get attachment info for a given attachment url</wsdl:documentation>
            <wsdl:input message="tns:getAttachmentInfoFromURLRequest" />
            <wsdl:output message="tns:getAttachmentInfoResponse" />
            <wsdl:fault message="tns:attachmentManagementException" name="attachmentMgtException"
                        wsaw:Action="urn:getAttachmentInfoFromURLAttachmentMgtException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AttachmentMgtServiceSOAP"
                  type="tns:AttachmentMgtService">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation
                    soapAction="urn:add"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="attachmentMgtException">
                <soap:fault use="literal" name="attachmentMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="remove">
            <soap:operation
                    soapAction="urn:remove"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="attachmentMgtException">
                <soap:fault use="literal" name="attachmentMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAttachmentInfo">
            <soap:operation
                    soapAction="urn:getAttachmentInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="attachmentMgtException">
                <soap:fault use="literal" name="attachmentMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
	<wsdl:operation name="getAttachmentInfoFromURL">
            <soap:operation
                    soapAction="urn:getAttachmentInfoFromURL"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="attachmentMgtException">
                <soap:fault use="literal" name="attachmentMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AttachmentMgtService">
        <wsdl:port binding="tns:AttachmentMgtServiceSOAP" name="AttachmentMgtServiceSOAP">
            <soap:address location="http://www.wso2.org/bps/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
